<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Anand FirstApp</title>
    </head>
    <body>
        <h1>Book List</h1>
        <table border="1" cellspacing="0" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publisher</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">hardcoded values</td>
                <td th:text="${book.title}">hardcoded values</td>
                <td th:text="${book.publisher.name}">hardcoded values</td>
            </tr>
        </table>
    </body>
</html>